Repository flex-development/docmark: changes, and which Codecov flags are due for each by the changed paths.
All: bun-canary, bun-latest, node24, node23, node22, node21, node20, docmark, docmark-core, docmark-factory-space, docmark-factory-whitespace, docmark-util-combine-extensions, docmark-util-subtokenize, docmark-util-symbol

.codecov.yml:

# CODECOV CONFIGURATION
# https://docs.codecov.com/docs/codecovyml-reference

---
codecov:
  notify:
    after_n_builds: 7
    wait_for_ci: true
  require_ci_to_pass: true

comment:
  after_n_builds: 7
  behavior: default
  layout: header,diff,flags,components,tree,footer
  require_base: false
  require_changes: false
  require_head: true
  show_carryforward_flags: true
  show_critical_paths: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: 100%
  individual_components:
    - component_id: docmark
      name: docmark
      paths:
        - packages/docmark/**/*.mts
    - component_id: docmark-core
      name: docmark-core
      paths:
        - packages/docmark-core/**/*.mts
    - component_id: docmark-factory-space
      name: docmark-factory-space
      paths:
        - packages/docmark-factory-space/**/*.mts
    - component_id: docmark-factory-whitespace
      name: docmark-factory-whitespace
      paths:
        - packages/docmark-factory-whitespace/**/*.mts
    - component_id: docmark-util-combine-extensions
      name: docmark-util-combine-extensions
      paths:
        - packages/docmark-util-combine-extensions/**/*.mts
    - component_id: docmark-util-subtokenize
      name: docmark-util-subtokenize
      paths:
        - packages/docmark-util-subtokenize/**/*.mts
    - component_id: docmark-util-symbol
      name: docmark-util-symbol
      paths:
        - packages/docmark-util-symbol/**/*.mts

coverage:
  precision: 2
  range: 90..100
  round: nearest
  status:
    changes:
      default:
        branches:
          - dependabot/*
          - feat/*
          - hotfix/*
          - main
          - release/*
        if_ci_failed: error
        if_not_found: success
        informational: false
        only_pulls: false
    patch:
      default:
        branches:
          - dependabot/*
          - feat/*
          - hotfix/*
          - main
          - release/*
        if_ci_failed: error
        if_not_found: success
        informational: false
        only_pulls: false
        target: 100%
        threshold: 0%
    project:
      default:
        branches:
          - dependabot/*
          - feat/*
          - hotfix/*
          - main
          - release/*
        if_ci_failed: error
        if_not_found: success
        informational: false
        only_pulls: false
        target: 100%
        threshold: 0%

flags:
  bun-canary:
    carryforward: false
    paths:
      - src/
  bun-latest:
    carryforward: false
    paths:
      - src/
  node24:
    carryforward: false
    paths:
      - src/
  node23:
    carryforward: false
    paths:
      - src/
  node22:
    carryforward: false
    paths:
      - src/
  node21:
    carryforward: false
    paths:
      - src/
  node20:
    carryforward: false
    paths:
      - src/

github_checks:
  annotations: true

ignore:
  - '**/*.d.mts'
  - '**/__mocks__/**'
  - '**/__tests__/**'
  - '**/index.mts'
  - '**/interfaces/**'
  - '**/types/**'
  - '!src/index.mts'

profiling:
  critical_files_paths: []

release(chore): 1.0.0-alpha.9
  .yarn/versions/7d86e91f.yml
Due: none

feat: source language `sass`
  packages/docmark-util-symbol/src/__snapshots__/edge-runtime/lang.snap
  packages/docmark-util-symbol/src/__snapshots__/happy-dom/lang.snap
  packages/docmark-util-symbol/src/__snapshots__/node/lang.snap
  packages/docmark-util-symbol/src/lang.mts
  packages/docmark-util-types/src/__tests__/language-map.spec-d.mts
  packages/docmark-util-types/src/language-map.mts
Due: docmark-util-symbol

feat: token type `interpreterArgument`
  packages/docmark-util-symbol/src/__snapshots__/edge-runtime/tt.snap
  packages/docmark-util-symbol/src/__snapshots__/happy-dom/tt.snap
  packages/docmark-util-symbol/src/__snapshots__/node/tt.snap
  packages/docmark-util-symbol/src/tt.mts
  packages/docmark-util-types/src/__tests__/token-type-map.spec-d.mts
  packages/docmark-util-types/src/token-type-map.mts
Due: docmark-util-symbol

release(chore): 1.0.0-alpha.10
  .github/workflows/publish.yml
  .yarn/versions/8689a4e3.yml
Due: none

chore(tests): cache between reruns
  vitest.config.mts
Due: none

refactor(types)!: `TokenFields`
  packages/docmark-util-types/src/__tests__/container-state.spec-d.mts
  packages/docmark-util-types/src/__tests__/token-fields.spec-d.mts
  packages/docmark-util-types/src/container-state.mts
  packages/docmark-util-types/src/token-fields.mts
  packages/docmark/__fixtures__/constructs/block.comment.mts
  packages/docmark/__fixtures__/constructs/hashbang.comment.mts
  packages/docmark/__fixtures__/constructs/line.comment.mts
  packages/docmark/src/initialize/__snapshots__/edge-runtime/source.integration.snap
  packages/docmark/src/initialize/__snapshots__/happy-dom/source.integration.snap
  packages/docmark/src/initialize/__snapshots__/node/source.integration.snap
  packages/docmark/src/initialize/source.mts
Due: docmark

release(chore): 1.0.0-alpha.11
  .yarn/versions/0d945b03.yml
  CONTRIBUTING.md
  scripts/release.sh
Due: none

feat(factory-identifier): `factoryIdentifier`
  .codecov.yml
  .commitlintrc.ts
  .github/infrastructure.yml
  packages/docmark-factory-identifier/CHANGELOG.md
  packages/docmark-factory-identifier/LICENSE.md
  packages/docmark-factory-identifier/README.md
  packages/docmark-factory-identifier/grease.config.json
  packages/docmark-factory-identifier/package.json
  packages/docmark-factory-identifier/src/__snapshots__/edge-runtime/index.e2e.snap
  packages/docmark-factory-identifier/src/__snapshots__/happy-dom/index.e2e.snap
  packages/docmark-factory-identifier/src/__snapshots__/node/index.e2e.snap
  packages/docmark-factory-identifier/src/__tests__/index.e2e.spec.mts
  packages/docmark-factory-identifier/src/factory.mts
  packages/docmark-factory-identifier/src/index.mts
  packages/docmark-factory-identifier/tsconfig.build.json
  packages/docmark-factory-space/src/index.mts
  packages/docmark/__fixtures__/constructs/namepath.mts
  packages/docmark/__fixtures__/constructs/tag-name.mts
  packages/docmark/package.json
  packages/docmark/tsconfig.build.json
  yarn.lock
Due: docmark

release(chore): 1.0.0-alpha.12
  .yarn/versions/cfd24770.yml
Due: none

feat(factory-line): `factoryLineComment`
  .codecov.yml
  .commitlintrc.ts
  .github/infrastructure.yml
  eslint.config.mjs
  packages/docmark-factory-identifier/src/factory.mts
  packages/docmark-factory-identifier/tsconfig.build.json
  packages/docmark-factory-line/CHANGELOG.md
  packages/docmark-factory-line/LICENSE.md
  packages/docmark-factory-line/README.md
  packages/docmark-factory-line/grease.config.json
  packages/docmark-factory-line/package.json
  packages/docmark-factory-line/src/__snapshots__/edge-runtime/index.e2e.snap
  packages/docmark-factory-line/src/__snapshots__/happy-dom/index.e2e.snap
  packages/docmark-factory-line/src/__snapshots__/node/index.e2e.snap
  packages/docmark-factory-line/src/__tests__/index.e2e.spec.mts
  packages/docmark-factory-line/src/factory.mts
  packages/docmark-factory-line/src/index.mts
  packages/docmark-factory-line/src/interfaces/__tests__/construct-with-name.spec-d.mts
  packages/docmark-factory-line/src/interfaces/__tests__/options-named.spec-d.mts
  packages/docmark-factory-line/src/interfaces/__tests__/options.spec-d.mts
  packages/docmark-factory-line/src/interfaces/construct-with-name.mts
  packages/docmark-factory-line/src/interfaces/index.mts
  packages/docmark-factory-line/src/interfaces/options-named.mts
  packages/docmark-factory-line/src/interfaces/options.mts
  packages/docmark-factory-line/tsconfig.build.json
  packages/docmark-grammar/src/constructs/trailing-whitespace.mts
  packages/docmark/__fixtures__/constructs/line.comment.mts
  packages/docmark/__fixtures__/content/source/08.txt
  packages/docmark/package.json
  packages/docmark/src/__snapshots__/edge-runtime/docmark.integration.snap
  packages/docmark/src/__snapshots__/happy-dom/docmark.integration.snap
  packages/docmark/src/__snapshots__/node/docmark.integration.snap
  packages/docmark/src/__tests__/docmark.integration.spec.mts
  packages/docmark/src/initialize/__snapshots__/edge-runtime/source.integration.snap
  packages/docmark/src/initialize/__snapshots__/happy-dom/source.integration.snap
  packages/docmark/src/initialize/__snapshots__/node/source.integration.snap
  yarn.lock
Due: docmark

refactor(factory-markers)!: convert `Info` from tuple to object
  packages/docmark-factory-line/src/factory.mts
  packages/docmark-factory-line/src/interfaces/__tests__/options.spec-d.mts
  packages/docmark-factory-line/src/interfaces/options.mts
  packages/docmark-factory-markers/src/factory.mts
  packages/docmark-factory-markers/src/index.mts
  packages/docmark-factory-markers/src/interfaces/__tests__/info.spec-d.mts
  packages/docmark-factory-markers/src/interfaces/index.mts
  packages/docmark-factory-markers/src/interfaces/info.mts
  packages/docmark-factory-markers/src/internal/__snapshots__/edge-runtime/normalize.snap
  packages/docmark-factory-markers/src/internal/__snapshots__/happy-dom/normalize.snap
  packages/docmark-factory-markers/src/internal/__snapshots__/node/normalize.snap
  packages/docmark-factory-markers/src/internal/__tests__/normalize.spec.mts
  packages/docmark-factory-markers/src/internal/__tests__/terminate.spec.mts
  packages/docmark-factory-markers/src/internal/normalize.mts
  packages/docmark-factory-markers/src/internal/terminate.mts
  packages/docmark-factory-markers/src/types/__tests__/info.spec-d.mts
  packages/docmark-factory-markers/src/types/__tests__/sequence.spec-d.mts
  packages/docmark-factory-markers/src/types/index.mts
  packages/docmark-factory-markers/src/types/info.mts
  packages/docmark-factory-markers/src/types/sequence.mts
  packages/docmark/__fixtures__/constructs/hashbang.comment.mts
  packages/docmark/__fixtures__/constructs/line.comment.mts
  packages/docmark/src/__snapshots__/edge-runtime/docmark.integration.snap
  packages/docmark/src/__snapshots__/happy-dom/docmark.integration.snap
  packages/docmark/src/__snapshots__/node/docmark.integration.snap
  packages/docmark/src/initialize/__snapshots__/edge-runtime/source.integration.snap
  packages/docmark/src/initialize/__snapshots__/happy-dom/source.integration.snap
  packages/docmark/src/initialize/__snapshots__/node/source.integration.snap
Due: docmark

release(chore): 1.0.0-alpha.13
  .github/infrastructure.yml
  .yarn/versions/205322b8.yml
Due: none

fix(factory-line): padding after markers
  packages/docmark-factory-line/src/factory.mts
  packages/docmark/src/__snapshots__/edge-runtime/docmark.integration.snap
  packages/docmark/src/__snapshots__/happy-dom/docmark.integration.snap
  packages/docmark/src/__snapshots__/node/docmark.integration.snap
  packages/docmark/src/initialize/__snapshots__/edge-runtime/source.integration.snap
  packages/docmark/src/initialize/__snapshots__/happy-dom/source.integration.snap
  packages/docmark/src/initialize/__snapshots__/node/source.integration.snap
Due: none

release(chore): 1.0.0-alpha.14
  .yarn/versions/6a669b22.yml
Due: none

release(chore): 1.0.0-alpha.15
  .yarn/versions/cc794e4b.yml
Due: none

feat: add source languages `html` and `xml`
  packages/docmark-util-symbol/src/__snapshots__/edge-runtime/lang.snap
  packages/docmark-util-symbol/src/__snapshots__/happy-dom/lang.snap
  packages/docmark-util-symbol/src/__snapshots__/node/lang.snap
  packages/docmark-util-symbol/src/lang.mts
  packages/docmark-util-types/src/__tests__/language-map.spec-d.mts
  packages/docmark-util-types/src/language-map.mts
Due: docmark-util-symbol

release(chore): 1.0.0-alpha.16
  .yarn/versions/a5a39045.yml
Due: none

ci(workflows): [`ci`] continue on bun canary setup failure
  .github/workflows/ci.yml
Due: none

refactor(factory-block)!: remove `fields.lang` fallback
  packages/docmark-factory-block/src/factory.mts
  packages/docmark/src/__snapshots__/edge-runtime/docmark.integration.snap
  packages/docmark/src/__snapshots__/happy-dom/docmark.integration.snap
  packages/docmark/src/__snapshots__/node/docmark.integration.snap
  packages/docmark/src/initialize/__snapshots__/edge-runtime/source.integration.snap
  packages/docmark/src/initialize/__snapshots__/happy-dom/source.integration.snap
  packages/docmark/src/initialize/__snapshots__/node/source.integration.snap
Due: none

refactor(factory-line)!: remove `fields.lang` fallback
  packages/docmark-factory-line/src/factory.mts
  packages/docmark/src/__snapshots__/edge-runtime/docmark.integration.snap
  packages/docmark/src/__snapshots__/happy-dom/docmark.integration.snap
  packages/docmark/src/__snapshots__/node/docmark.integration.snap
  packages/docmark/src/initialize/__snapshots__/edge-runtime/source.integration.snap
  packages/docmark/src/initialize/__snapshots__/happy-dom/source.integration.snap
  packages/docmark/src/initialize/__snapshots__/node/source.integration.snap
Due: none

refactor(types)!: [`ParseContext`] remove `lang`
  packages/docmark-util-types/src/__tests__/parse-context.spec-d.mts
  packages/docmark-util-types/src/parse-context.mts
Due: none

refactor!: source language identifiers
  packages/docmark-util-symbol/src/__snapshots__/edge-runtime/lang.snap
  packages/docmark-util-symbol/src/__snapshots__/happy-dom/lang.snap
  packages/docmark-util-symbol/src/__snapshots__/node/lang.snap
  packages/docmark-util-symbol/src/lang.mts
  packages/docmark-util-types/src/__tests__/language-map.spec-d.mts
  packages/docmark-util-types/src/language-map.mts
  packages/docmark-util-types/src/language.mts
Due: docmark-util-symbol

release(chore): 1.0.0-alpha.17
  .yarn/versions/a0bd172b.yml
Due: none

feat(factory-block)!: bounded `markers` function
  packages/docmark-factory-block/src/factory.mts
  packages/docmark-factory-block/src/index.mts
  packages/docmark-factory-block/src/interfaces/__tests__/construct-with-name.spec-d.mts
  packages/docmark-factory-block/src/interfaces/__tests__/options-named.spec-d.mts
  packages/docmark-factory-block/src/interfaces/__tests__/options.spec-d.mts
  packages/docmark-factory-block/src/interfaces/construct-with-name.mts
  packages/docmark-factory-block/src/interfaces/index.mts
  packages/docmark-factory-block/src/interfaces/options-named.mts
  packages/docmark-factory-block/src/interfaces/options.mts
  packages/docmark-factory-block/src/types/__tests__/create-markers.spec-d.mts
  packages/docmark-factory-block/src/types/create-markers.mts
  packages/docmark-factory-block/src/types/index.mts
  packages/docmark/__fixtures__/constructs/js-block.comment.mts
Due: docmark

feat(types): `CreateFields`
  packages/docmark-util-types/src/__tests__/create-fields.spec-d.mts
  packages/docmark-util-types/src/create-fields.mts
  packages/docmark-util-types/src/index.mts
Due: none

feat(factory-block): bounded `fields` function
  packages/docmark-factory-block/src/factory.mts
  packages/docmark-factory-block/src/interfaces/__tests__/options.spec-d.mts
  packages/docmark-factory-block/src/interfaces/options.mts
  packages/docmark/__fixtures__/constructs/js-block.comment.mts
Due: docmark

feat(factory-block): `Options#finalizeConstruct`
  packages/docmark-factory-block/src/factory.mts
  packages/docmark-factory-block/src/interfaces/__tests__/options.spec-d.mts
  packages/docmark-factory-block/src/interfaces/options.mts
  packages/docmark-factory-block/src/types/__tests__/finalize-construct.spec-d.mts
  packages/docmark-factory-block/src/types/finalize-construct.mts
  packages/docmark-factory-block/src/types/index.mts
  packages/docmark/__fixtures__/constructs/js-block.comment.mts
Due: docmark

feat(factory-line)!: bounded `markers` function
  packages/docmark-factory-line/src/factory.mts
  packages/docmark-factory-line/src/index.mts
  packages/docmark-factory-line/src/interfaces/__tests__/construct-with-name.spec-d.mts
  packages/docmark-factory-line/src/interfaces/__tests__/options-named.spec-d.mts
  packages/docmark-factory-line/src/interfaces/__tests__/options.spec-d.mts
  packages/docmark-factory-line/src/interfaces/construct-with-name.mts
  packages/docmark-factory-line/src/interfaces/index.mts
  packages/docmark-factory-line/src/interfaces/options-named.mts
  packages/docmark-factory-line/src/interfaces/options.mts
  packages/docmark-factory-line/src/types/__tests__/create-markers.spec-d.mts
  packages/docmark-factory-line/src/types/__tests__/markers.spec-d.mts
  packages/docmark-factory-line/src/types/create-markers.mts
  packages/docmark-factory-line/src/types/index.mts
  packages/docmark-factory-line/src/types/markers.mts
  packages/docmark/__fixtures__/constructs/sassdoc.comment.mts
  packages/docmark/__fixtures__/content/source/modules/04.txt
  packages/docmark/__fixtures__/extension.mts
  packages/docmark/src/initialize/source.mts
Due: docmark

feat(factory-line): bounded `fields` function
  packages/docmark-factory-line/src/factory.mts
  packages/docmark-factory-line/src/interfaces/__tests__/options.spec-d.mts
  packages/docmark-factory-line/src/interfaces/options.mts
  packages/docmark/__fixtures__/constructs/sassdoc.comment.mts
Due: docmark

feat(factory-line): `Options#finalizeConstruct`
  packages/docmark-factory-line/src/factory.mts
  packages/docmark-factory-line/src/interfaces/__tests__/options.spec-d.mts
  packages/docmark-factory-line/src/interfaces/options.mts
  packages/docmark-factory-line/src/types/__tests__/finalize-construct.spec-d.mts
  packages/docmark-factory-line/src/types/finalize-construct.mts
  packages/docmark-factory-line/src/types/index.mts
  packages/docmark/__fixtures__/constructs/sassdoc.comment.mts
Due: docmark

feat: `Extension#settings`
  packages/docmark-util-combine-extensions/src/__snapshots__/edge-runtime/index.snap
  packages/docmark-util-combine-extensions/src/__snapshots__/happy-dom/index.snap
  packages/docmark-util-combine-extensions/src/__snapshots__/node/index.snap
  packages/docmark-util-combine-extensions/src/__tests__/index.spec.mts
  packages/docmark-util-combine-extensions/src/index.mts
  packages/docmark-util-combine-extensions/src/internal/__snapshots__/edge-runtime/merge.snap
  packages/docmark-util-combine-extensions/src/internal/__snapshots__/happy-dom/merge.snap
  packages/docmark-util-combine-extensions/src/internal/__snapshots__/node/merge.snap
  packages/docmark-util-combine-extensions/src/internal/__tests__/list.spec.mts
  packages/docmark-util-combine-extensions/src/internal/__tests__/merge.spec.mts
  packages/docmark-util-combine-extensions/src/internal/__tests__/pojo.spec.mts
  packages/docmark-util-combine-extensions/src/internal/list.mts
  packages/docmark-util-combine-extensions/src/internal/merge.mts
  packages/docmark-util-combine-extensions/src/internal/pojo.mts
  packages/docmark-util-types/src/__tests__/extension.spec-d.mts
  packages/docmark-util-types/src/__tests__/language-options.spec-d.mts
  packages/docmark-util-types/src/__tests__/language-settings.spec-d.mts
  packages/docmark-util-types/src/__tests__/settings.spec-d.mts
  packages/docmark-util-types/src/extension.mts
  packages/docmark-util-types/src/index.mts
  packages/docmark-util-types/src/language-options.mts
  packages/docmark-util-types/src/language-settings.mts
  packages/docmark-util-types/src/settings.mts
  packages/docmark-util-types/typings/@flex-development/docmark-util-types/index.d.mts
  packages/docmark/src/__snapshots__/edge-runtime/parse.snap
  packages/docmark/src/__snapshots__/happy-dom/parse.snap
  packages/docmark/src/__snapshots__/node/parse.snap
  packages/docmark/src/extensions/docmark.mts
Due: docmark, docmark-util-combine-extensions

release(chore): 1.0.0-alpha.18
  .yarn/versions/fb46ab86.yml
  scripts/current-versions.sh
  scripts/release.sh
Due: none

fix(types)!: `LanguageOptions#documentationOnly` -> `Settings#documentationOnly`
  packages/docmark-util-types/src/__tests__/language-options.spec-d.mts
  packages/docmark-util-types/src/__tests__/settings.spec-d.mts
  packages/docmark-util-types/src/language-options.mts
  packages/docmark-util-types/src/settings.mts
  packages/docmark-util-types/typings/@flex-development/docmark-util-types/index.d.mts
Due: none

release(chore): 1.0.0-alpha.19
  .yarn/versions/32ff0f46.yml
Due: none

refactor(factory-block): markers config initialization
  packages/docmark-factory-block/src/factory.mts
Due: none

refactor(factory-line): markers config initialization
  packages/docmark-factory-line/src/factory.mts
Due: none

release(chore): 1.0.0-alpha.20
  .yarn/versions/cd6009cf.yml
Due: none

feat: comment parsing modes
  packages/docmark-util-symbol/src/__snapshots__/edge-runtime/index.e2e.snap
  packages/docmark-util-symbol/src/__snapshots__/edge-runtime/mode.snap
  packages/docmark-util-symbol/src/__snapshots__/happy-dom/index.e2e.snap
  packages/docmark-util-symbol/src/__snapshots__/happy-dom/mode.snap
  packages/docmark-util-symbol/src/__snapshots__/node/index.e2e.snap
  packages/docmark-util-symbol/src/__snapshots__/node/mode.snap
  packages/docmark-util-symbol/src/__tests__/mode.spec.mts
  packages/docmark-util-symbol/src/index.mts
  packages/docmark-util-symbol/src/mode.mts
  packages/docmark-util-types/src/__tests__/mode-map.spec-d.mts
  packages/docmark-util-types/src/__tests__/mode.spec-d.mts
  packages/docmark-util-types/src/__tests__/modes.spec-d.mts
  packages/docmark-util-types/src/__tests__/settings.spec-d.mts
  packages/docmark-util-types/src/index.mts
  packages/docmark-util-types/src/mode-map.mts
  packages/docmark-util-types/src/mode.mts
  packages/docmark-util-types/src/modes.mts
  packages/docmark-util-types/src/settings.mts
Due: docmark-util-symbol
